.product-container{
    display: flex;
}

.product-right-container{
    padding: 25px;
}

.user-review{
    padding: 12px;
    color: gray;
}

#review-form{
    display: flex;
    flex-direction: column;

}